.max{
    width: 450px;
    margin: -100px auto;
}
section{
    width: 100vw;
}
body{
    overflow-x: hidden;
}

@media screen and (max-width: 550px) {

    .max{
        width: 100vw;
        margin:  auto;
    }
}