
section{
  margin: 0 auto;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100vw;
}
body{
overflow-x: hidden;
}

h1,section p{
font-family: "Montserrat";
color: white;
font-size: 30px;
}
#fin{
color: #008C45;
}
#en{

color: #CD212A;
}


.button {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid grey;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 300ms ease;
  color: aliceblue;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 180px;
  height: 130px;
  border-radius: 50%;
  background-color: #008C45;
  top: 100%;
  left: 0;
  transition: 500ms ease;
}

.button:hover {
  color: #fff;
  letter-spacing: 3px;
}

.button:hover::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 550px){
  /* section{
    position: absolute;
    top:20px;
  } */
}


