
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Yesteryear&display=swap');
@import "./cssWarp-styles.css";


*,::after,::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat";
}


a{
  color: white;
}

body{

    background: url(../../photo/1132145-diaporama.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
img{
  width: 100px;
  
  
}


  header {
    margin-top: 15px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 80px;
    background-color: transparent;
    align-content: center;
    margin: 0 auto;
}



  ul {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;

}

ul li{
display: block;


font-size: 20px;
position: relative;
display: flex;
align-items: center;
color: white;
text-transform: uppercase;
text-shadow: 0 0 15px #8e54e9;
transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


ul li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 0%;
}

ul li:hover::after {
  width: 100%;
  height: 1px;
  background-color: white;
}


.flou{
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:98vh;
  background-color: #333333;
  opacity: .6;
  z-index: -1;
}


.loader {
  font-family: "Montserrat";
  z-index: 11111;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.lettre {
  font-family: "Montserrat";
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}
@keyframes flash {
  0% {
      color: #fff900;
      text-shadow: 0 0 7px #fff900;
  }
  90% {
      color: #484848;
      text-shadow: none;
  }
  100% {
      color: #fff900;
      text-shadow: 0 0 7px #fff900;
  }
}

.lettre:nth-child(1){
  animation-delay: 0.1s;
}
.lettre:nth-child(2){
  animation-delay: 0.2s;
}
.lettre:nth-child(3){
  animation-delay: 0.3s;
}
.lettre:nth-child(4){
  animation-delay: 0.4s;
}
.lettre:nth-child(5){
  animation-delay: 0.5s;
}
.lettre:nth-child(6){
  animation-delay: 0.6s;
}
.lettre:nth-child(7){
  animation-delay: 0.7s;
}
.lettre:nth-child(8){
  animation-delay: 0.8s;
}
.lettre:nth-child(9){
  animation-delay: 0.9s;
}
.lettre:nth-child(10){
  animation-delay: 1s;
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}









.footer {
    flex-grow: 1;
    
    
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #333333d3;
   
    gap: 20px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: whitesmoke;
    }
    
    .fa-github {
     
      font-size: 24px;
      transition: transform 0.3s ease-in-out;
      color: whitesmoke;
  
    }
    
    .fa-github:hover {
      transform: rotate(360deg) scale(1.2);
      color: whitesmoke;
    }

    .checkboxtoggler {
     
      width: 3em;
      display: flex;
      flex-direction: column;
      gap: 0.7em;
      cursor: pointer;
    }
    
    .line-1 {
      background: #008C45;
      height: 0.3em;
      border-radius: 10em;
      transition-duration: 500ms;
    }
    
    .line-2 {
      background: #F4F9FF;
      height: 0.3em;
      border-radius: 10em;
      transition-duration: 500ms;
    }
    
    .line-3 {
      background: #CD212A;
      height: 0.3em;
      border-radius: 10em;
      transition-duration: 500ms;
    }
    
    #toggleChecker {
      height: 3em;
      width: 100%;
      display: none;
    }
    
    
    #toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
      background-color: #CD212A;
      
      -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
      -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
      transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
    }
    
    #toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
      background-color: #CD212A;

      -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
      -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
      transform: rotate(-45deg) translateY(0em) translateX(0.1em);
    }
    
    #toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
      transform: scaleX(0);
      transform-origin: left;
    }
.checkboxtoggler,#toggleChecker{
z-index: 1111;
}



    
body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

nav.active{
  margin-top: 0%;
  height: 100vh;
  transition: all 0.5s ease-out; 
}
.checkboxtoggler.active{
  position: fixed;
    top: 30px;
    right: 30px;
}
    
    

@media screen and (max-width: 1000px) {
  header{
    justify-content: space-between;
    width: 98%;
  }
  
}

@media screen and (max-width: 550px) {

  .checkboxtoggler{
    position:absolute;
    top: 30px;
    right: 30px;
  }

  nav{
    margin-top: -200%;
    z-index: 111;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100vw;
    height: 0dvh;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: all 0.5s ease-out; 
  }
  
  ul{
    display: flex;
    flex-direction: column;

  }
  
  .footer{
    font-size: 0.9rem;
  }
  .fa-github{
    font-size: 1.2rem;
  }
  
 
}

  
